button{
    padding: 15px;
    color: #c3e791;
    background-color: #161819;
    border: 1px solid #86c232;
    font: 'Ubuntu';
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
}

button:focus{
    outline: 1px dashed #fff;
}

/* ============================================================ */
/* Media Queries */
@media screen and (max-width: 1200px) and (min-width: 901px){
    #content-column {
        width: 75%;
    }
}

@media screen and (max-width: 900px) and (min-width: 701px){
    #content-column{
        width: 85%;
    }

    .content-container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 700px){
    #content-column{
        width: 90%;
    }

    .content-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* ============================================================ */